*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    background-color: brown;
}

.square{
    height: 80px;
    width: 80px;
    margin: 10px;
    background-color: yellow;
}

.text-center{
    text-align: center;
}